@use 'src/styles/constants/colors';

.button {
  color: colors.$gray-50;
  background-color: colors.$primary;
  border-radius: 8px;
  transition: 200ms;

  + .button {
    margin-left: 16px;
  }

  &:hover {
    color: colors.$white;
    background-color: colors.$primary-hover;
  }

  &.short {
    min-width: 60px;
    padding: 8px;
    font-size: 16px;
  }

  &.long {
    min-width: 72px;
    padding: 8px;
    font-size: 16px;
  }
}
