@use "styles/constants/colors";


.wrapper {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
  font-size: 14px; // TODO
  
  .numResult {
    position: relative;
    margin: 10px;
    
    strong {
      font-weight: 700;
    }
  }

  .tableWrapper {
    width: 95%;
    padding: 30px;
    background-color: colors.$white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 4%);
  
    .table {
      width: 95%;
      margin: 0 auto;
      font-size: 14px;
      vertical-align: center;
      border-spacing: 0 ;
      border-collapse: separate;

      th {
        background-color: colors.$gray-100;
      }
      
      .id, .registerDate, .loginID {
        width: 100px;
      }

      .detail {
        width: 500px;
      }

      .sortKey {
        font-weight: 700;
      }

      .expandIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(50%);
      }

      tr {
        height: 50px;
        line-height: 50px;
        text-align: center;
      }

      .odd {
        background-color: colors.$gray-50;
      }

      td {
        border-bottom: 1px solid colors.$gray-100;
      }
    }
  }

  .toManage {
    padding: 7px;
    color: colors.$gray-50;
    background-color: colors.$primary;
    border-radius: 10px;
  }
}

