@use 'styles/constants/colors.scss';

.dashboardWrapper {
  width: 100%;
  padding: 20px 5%;

  .dashboardTitle {
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }

  .dashboardContainer {
    padding: 10px 0;
  }
}
