@use 'styles/constants/colors.scss';

.dashboardWrapper {
  width: 100%;
  height: 100%;
  padding: 20px;

  .dashboardTitle {
    padding: 20px 0;
  }

  .dashboardContainer {
    padding: 10px 0;
  }
}
