$white: #fff;
$black: #000;

$primary: #aaa;

$example-50: #1234;
$example-100: #5678;

$example-bg: #9101;

$gray-100: #eee;
$gray-50: #f9fafb;
$gray-100: #f5f5fd;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$point-color: #686aec;
