$primary: #686aec;

$primary-hover: #9a9bf1;

$main-bg: #f6f6fe;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-850: #131313;
$gray-900: #111827;

$white: #fff;
$black: #000;

$shadow: rgba(#000, 4%);

// $sidebar: #0D2939;
// $navbar: #0F1E28

// // important
// $hoverbutton: #0FB9B9

// $buttonactive: #003E57
// $button: #CCD8DD

// $main-bg: #f6f6fe;
