@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;

  .chartWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 24px 0;
    color: colors.$gray-850;
    background-color: colors.$white;
    border-radius: 20px;
    box-shadow: 0 4px 10px colors.$shadow;

    @include responsive.after('hd') {
      width: 45%;
    }

    .noData {
      width: 200px;
      height: 200px;
    }

    + .chartWrapper {
      margin-top: 24px;
      margin-left: 0;

      @include responsive.after('hd') {
        margin-left: 40px;
      }
    }

    .chartHeader {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      padding: 20px 0 0 20px;

      .chartTitle {
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
        color: colors.$gray-900;
      }
    }

    .label {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 20px;
      margin: 20px 0 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 32px;

      time,
      span {
        color: colors.$gray-900;
      }
    }

    p {
      color: colors.$gray-900;
    }

    .datePickerWrapper {
      margin-top: 40px;
      margin-left: 0;
      line-height: 20px;
      color: colors.$gray-800;
    }

    .buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 0 20px;

      @include responsive.after('sm') {
        justify-content: flex-start;
        margin: 16px 0 20px 20px;
      }

      button {
        min-width: 48px;
        height: 32px;
        padding: 0 6px;
        margin-right: 4px;
        font-size: 14px;
        line-height: 32px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
