@use 'src/styles/constants/colors';

.snb {
  flex-shrink: 0;
  padding: 24px;
  background-color: colors.$white;

  .logo {
    width: 200px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .navItem {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;

      .icon {
        margin-right: 8px;
      }

      &.active {
        color: colors.$gray-50;
        background: colors.$primary;

        .icon {
          margin-right: 8px;
          fill: colors.$gray-50;
        }
      }
    }
  }
}
