@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.snb {
  position: absolute;
  left: -284px;
  z-index: 1000;
  width: 284px;
  height: 100%;
  padding: 24px;
  background-color: colors.$white;
  transition-duration: 0.2s;
  transition-property: left;

  @include responsive.after('lg') {
    position: static;
    flex-shrink: 0;
    height: unset;
  }

  &.visible {
    left: 0;
  }

  .menuIcon {
    position: absolute;
    top: 1.625rem;
    right: -60px;
    width: 36px;
    height: 36px;
    cursor: pointer;

    @include responsive.after('lg') {
      display: none;
    }

    &.visible {
      top: 0;
      right: 0;
    }
  }

  .logoWrapper {
    display: flex;
    align-items: flex-end;
    padding: 0 10px;
    margin-bottom: 42px;
    
    .logo {
      width: 100px;
      margin-top: 5px;
      cursor: pointer;
      fill: colors.$gray-900;
    }

    h1 {
      margin-left: 15px;
      font-size: 1.25rem;
    }
  }


  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .navItem {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 8px;
      transition: background-color 200ms;

      &:hover {
        color: colors.$primary;
        background: colors.$main-bg;

        .icon {
          fill: colors.$primary;
        }
      }

      .icon {
        margin-right: 8px;
      }

      &.active {
        color: colors.$gray-50;
        background: colors.$primary;

        .icon {
          margin-right: 8px;
          fill: colors.$gray-50;
        }
      }
    }
  }
}
