@use './constants/colors';
@use './mixins/responsive';

@import './base/reset';
@import './base/more';
@import './base/fonts';

html {
  color: colors.$gray-900;
  
  @include responsive.after('md') {
    font-size: 16px;
  }
  @include responsive.after('lg') {
    font-size: 16px;
  }
  @include responsive.after('xlg') {
    font-size: 16px;
  }
}