@use 'src/styles/constants/colors';

.breadcrumb {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  .crumbs {
    color: colors.$gray-700;
    border-radius: 10px;

    &::after {
      margin-left: 16px;
      content: '>';
    }
  }

  .currentPage {
    color: colors.$primary;
  }
}