/* stylelint-disable selector-class-pattern */
@use 'src/styles/constants/colors';

.datePicker {
  display: flex;
  align-items: center;

  .tilde {
    margin: 0 .5rem;
  }

  .react-datepicker-wrapper {
    width: inherit;
    padding: .5rem;
    cursor: pointer;
    background: colors.$white;
    border-radius: .5rem;
    box-shadow: 0 0 .1875rem colors.$primary;

    .react-datepicker__input-container {
      width: inherit;

      input {
        width: 5.1875rem;
        color: colors.$gray-900;
        text-align: center;
        cursor: pointer;

        &::selection {
          all: unset;
        }

        &:focus {
          caret-color: transparent;
        }
      }
    }
  }

  .react-datepicker {
    color: colors.$gray-900;
    border: 0;
    border-radius: .5rem;
    box-shadow: 0 0 .1875rem colors.$primary;

    &__header {
      background: colors.$primary;
      border: 0;
    }

    &__current-month {
      color: colors.$gray-50;
    }

    &__day-name {
      color: colors.$gray-50;
    }

    &__month {
      padding: 6.4px;
      margin: 0;

      // background: colors.$gray-100;
      border: .0625rem solid colors.$primary;
      border-top: 0;
      border-radius: 0 0 .5rem .5rem;
    }
  }
}

.submitButton {
  margin-left: 1rem;
  box-shadow: 0 0 .1875rem colors.$primary;
}
