@use 'styles/constants/colors';
@use 'styles/constants/dimensions';
@use 'styles/mixins/responsive';

.managementWrapper {
  box-sizing: border-box;
  max-width: dimensions.$max-width;
  padding: 1.25rem 2%;
  background: colors.$main-bg;

  // @include responsive.after('xlg') {
  //   padding-right: 19%;
  // }

  .managementTitle {
    padding: 1.25rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nothing {
    margin-top: 9.375rem;
    color: colors.$gray-500;
    text-align: center;
  }
}
