/* stylelint-disable selector-class-pattern */
@use 'src/styles/constants/colors';

.datepicker {
  position: relative;
  z-index: 999;
  transform: scale(0.8);

  .react-datepicker__input-container {
    width: 120px;
    transform: scale(1.25);
  }

  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    top: 1rem;
    width: 2rem;
  }
}

.react-datepicker {
  color: colors.$gray-900;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1875rem colors.$primary;

  &__header {
    background: colors.$primary;
    border: 0;
  }

  &__current-month {
    color: colors.$gray-50;
  }

  &__day-name {
    color: colors.$gray-50;
  }

  &__month {
    padding: 6.4px;
    margin: 0;
    border: 0.0625rem solid colors.$primary;
    border-top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
