@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.searchSection {
  width: 100%;
  margin-top: 10px;

  .searchSectionForm {
    display: block;
    width: 100%;
    margin: 20px 0;
    margin-bottom: 80px;

    .inputBox {
      width: 80%;
      margin: 0 auto;

      @include responsive.after('md') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .inputList {
        display: flex;
        padding-right: 100px;
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        background: colors.$white;
        border-radius: 10px;
        box-shadow: 1px 1px 5px colors.$shadow;

        @include responsive.after('sm') {
          padding: 0 20px;
          margin-right: 0;
        }

        @include responsive.after('md') {
          padding: 0 20px;
          margin-right: 16px;
          margin-bottom: 0;
        }

        &.inputList:last-of-type {
          position: relative;
          margin-right: 0;
          margin-bottom: 0;

          @include responsive.after('lg') {
            margin-bottom: 10px;
          }

          @include responsive.after('xlg') {
            margin-bottom: 0;
          }
        }

        dt {
          min-width: 60px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          letter-spacing: -0.1em;
        }

        dd {
          width: calc(100% - 60px);
          height: 40px;
          line-height: 40px;
          text-align: center;

          &.fromTo {
            width: 10px;
            margin: 0 auto;
            text-align: center;
          }

          input {
            width: 100%;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            text-overflow: ellipsis;
          }

          &.searchDateDesc {
            height: 40px;
            line-height: 40px;
          }

          &.datePickerCategory {
            position: absolute;
            right: 0;
            bottom: -40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 132px;

            .today,
            .week,
            .allday {
              min-width: 40px;
              height: 28px;
              padding: 0;
              font-size: 10px;
              line-height: 28px;

              &:hover {
                border-bottom: 1px solid colors.$primary-hover;
                transform: scale(0.95);
              }
            }
          }
        }

        &:last-child {
          margin-right: 20px;
        }
      }
    }

    .buttonBox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;

      @include responsive.after('md') {
        margin-top: 40px;
      }

      .searchButton,
      .resetFilterButton {
        min-width: 108px;
        height: 40px;
        padding: 0 8px !important;
        font-size: 14px;
        line-height: 40px;

        &.searchButton {
          margin-right: 16px;
        }
      }
    }
  }
}
