@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.searchSection {
  width: 100%;
  margin-top: 10px;

  .searchSectionForm {
    display: block;
    width: 100%;
    margin: 20px 0;

    @include responsive.after('sm') {
      display: flex;
      justify-content: flex-start;
    }

    @include responsive.after('lg') {
      display: block;
    }

    @include responsive.after('xlg') {
      display: flex;
      justify-content: space-between;
    }

    .inputBox {
      @include responsive.after('lg') {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @include responsive.after('xlg') {
        margin-right: 2%;
      }

      .inputList {
        display: flex;
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 16px;
        background: colors.$white;
        border-radius: 10px;
        box-shadow: 1px 1px 5px colors.$shadow;

        &.inputList:last-of-type {
          margin-right: 0;
          margin-bottom: 0;

          @include responsive.after('lg') {
            margin-bottom: 10px;
          }

          @include responsive.after('xlg') {
            margin-bottom: 0;
          }
        }

        @include responsive.after('lg') {
          margin-right: 16px;
        }
        @include responsive.after('xlg') {
          margin-bottom: 0;
        }

        dt {
          min-width: 60px;
          height: 40px;
          padding-left: 4px;
          line-height: 40px;
          text-align: center;
          letter-spacing: -0.1em;
        }

        dd {
          width: calc(100% - 60px);
          height: 40px;
          line-height: 40px;
          text-align: center;

          &.fromTo {
            width: 10px;
          }

          input {
            width: 100%;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            text-overflow: ellipsis;
          }

          &.searchDateDesc {
            width: 100%;
            height: 40px;
            line-height: 40px;
          }

          &.datePickerCategory {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 160px;

            .today,
            .week,
            .allday {
              min-width: 32px;
              height: 24px;
              padding: 0;
              margin-right: 2px;
              margin-left: 0;
              font-size: 10px;
              line-height: 24px;

              &.allday {
                margin-right: 0;
              }

              @include responsive.after('lg') {
                min-width: 26px;
              }
              @include responsive.after('xlg') {
                min-width: 32px;
              }

              &:hover {
                border-bottom: 1px solid colors.$primary-hover;
                transform: scale(0.95);
              }
            }
          }
        }

        &:last-child {
          margin-right: 20px;
        }
      }
    }

    .buttonBox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;

      @include responsive.after('sm') {
        margin: 0 5%;
      }
      @include responsive.after('lg') {
        margin-top: 1rem;
        margin-left: 0;
      }
      @include responsive.after('xlg') {
        margin-top: 0;
      }

      .searchButton,
      .resetFilterButton {
        min-width: 60px;
        height: 32px;
        padding: 0 8px !important;
        font-size: 14px;
        line-height: 32px;

        &.searchButton {
          margin-right: 16px;
        }
      }
    }
  }
}
