@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .title {
    margin-left: 48px;
    font-size: 24px;
    @include responsive.after('lg') {
      margin: 0;
    }
  }

  .adminInfo {
    display: flex;
    align-items: center;

    p {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }

    button {
      padding: 8px;
      font-size: 16px;
      color: colors.$gray-50;
      background: colors.$primary;
      border-radius: 8px;

      &:hover {
        background: colors.$primary-hover;
      }
    }
  }
}
