@use 'src/styles/constants/colors';
@use 'src/styles/constants/dimensions';
@use 'src/styles/mixins/responsive';

.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: dimensions.$max-width;
  margin-bottom: 24px;

  .title {
    margin-left: 48px;
    font-size: 24px;
    @include responsive.after('lg') {
      margin: 0;
    }
  }

  .adminInfo {
    display: flex;
    align-items: center;

    p {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }
}
